.profile-btn{
    background: linear-gradient(351.09deg, #F029A0 4.36%, #4609c3 117.5%)!important;
    cursor: pointer;
}
.profile-btn::before{
    background: linear-gradient(351.09deg, #4609c3 4.36%, #F029A0 117.5%)!important;
}
.passwd-btn{
    background: linear-gradient(351.09deg, #4609c3 4.36%, #F029A0 117.5%)!important;
    cursor: pointer;
}
.passwd-btn::before{
    background: linear-gradient(351.09deg, #F029A0 4.36%, #4609c3 117.5%)!important;
}
.delete-btn{
    background: linear-gradient(351.09deg, darkred 4.36%, #F029A0 117.5%)!important;
    cursor: pointer;
}
.delete-btn::before{
    background: linear-gradient(351.09deg, #F029A0 4.36%, darkred 117.5%)!important;
}

.error-div ul li{
    color: #ff8c8c;
    list-style:none;
}

#all-articles{
    display: flex;
    flex-direction: column;
}
.articles-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 700px;
    background: #4609C3;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}

.ck-editor__editable_inline {
    min-height: 200px;
}