{% extends 'basecalendar.html.twig' %}
{% block title %}Calendar!{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            width: 70%;
            margin:auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="calendrier">

    </div>

{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt,{
            initialView: 'dayGridMonth',
            headerToolbar:{
                start:'prev,next',
                center:'title',
                end:'today'
            },
            events:{{ data|raw }}
        })
        calendar.render()
    }
</script>

{% endblock %}