<!DOCTYPE html>

<title>Spam index</title>

{% block body %}
    <h1>Spam index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spam in spam %}
            <tr>
                <td>{{ spam.id }}</td>
                <td>
                    <a href="{{ path('app_spam_show', {'id': spam.id}) }}">show</a>
                    <a href="{{ path('app_spam_edit', {'id': spam.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_spam_new') }}">Create new</a>
{% endblock %}
